* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 20px;
}
nav {
  width: 100vw;
  height: 48px;
  color: white;
  background-color: #ff5c00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

nav .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav .logo img {
  width: 21px;
  height: 28px;
  margin: 0 8px 0 16px;
}

nav #MenuButton {
  margin-right: 16px;
}
nav ul {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  list-style-type: none;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff5c00;
}

nav ul li {
  margin-right: 16px;
  height: 48px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.container {
  width: 100%;
  height: 100vh;
}
.container_meals {
  width: 100%;
  height: 100%;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 300px;
  margin: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-size: cover;
  transition: 200ms;
}
.card2:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.container .card .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 42px;
  max-width: 320px;
  width: 100%;
}
.container .card .information .item {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  width: 100%;
}
.container .card .nutrientes {
  display: flex;
  max-width: 320px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .card div .shepere {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  clip-path: circle(60px at 50% 50%);
  background-color: white;
  margin-top: 16px;
  margin-right: 16px;
  text-align: center;
}

.container .card div .shepere::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: linear-gradient(#f00, #f0f);
  opacity: 0.4;
}

.container_meals .mealcard {
  margin: 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}
.mealcard:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
.container_meals .mealcard img {
  width: 120px;
  height: 120px;
  opacity: 0.9;
}
.container_meals .mealcard .information {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 8px;
  height: inherit;
}
.container_meals .mealcard .information h3 {
  font-size: 16px;
}
.container_meals .mealcard .information span {
  align-self: flex-end;
  font-weight: bold;
}

.container_meals .receipecard {
  height: 480px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
